@model MVC_People.Models.ViewModels.CreatePersonViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>




<h4>CreatePersonViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="All"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" list="CityNameList" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
                <datalist id="CityNameList">
                    @foreach (string CityName in Model.CityNameList)
                    {
                        <option value="@CityName">@CityName</option>
                    }
                </datalist>
            </div>
            
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonPage">Back to List</a>
</div>

