
@{
    ViewData["Title"] = "DeleteButton";
}

<h1>DeleteButton</h1>

<h2>Are you sure you want to delete this?</h2>
<hr>
<dl>
    <dt>Person</dt>
    <dd>@Model.Name</dd>

    <dt>City</dt>
    <dd>@Model.CityName</dd>

    <dt>Phone Number</dt>
    <dd>@Model.PhoneNumber</dd>

</dl>
<hr>
<div class="form-group">
    <input type="submit" value="Delete" class="btn btn-danger" />
</div>

<a asp-action="PersonPage">Go back to main Page</a>

