@model List<Person>
@{
    ViewData["Title"] = "PersonPage";
}

<h1>Person Page</h1>

<a asp-action="Add">Add a Person</a>

  <div class="row font-weight-bold mt-3">
    <div class="col-3">Name</div>
    <div class="col-3">Phone Number</div>
    <div class="col-3">City</div>
    <div class="col-3"></div>
</div>



@foreach (Person person in Model)
{
    <partial name="_PersonDisplay" model="person"/>
}
    





