@model List<Person>
@{
    ViewData["Title"] = "PersonPage";
}

<h1>Person Page</h1>

<a asp-action="Add">Add a Person</a>

  <div class="row font-weight-bold mt-3">
    <div class="col-4">Name</div>
    <div class="col-4">Phone Number</div>
    <div class="col-4">City</div>
</div>



@foreach (Person person in Model)
{
    <div class="row">
        <div class="col-4">@person.Name</div>
        <div class="col-4">@person.PhoneNumber</div>
        <div class="col-4">@person.CityName</div>
        <div>@Html.ActionLink("Details","Details","People", new {id = person.Id})</div>
    </div>
}
    





